button {
  &:disabled {
    cursor: default;
  }
  &.disabled {
    cursor: default;
  }
}

.btn-brand:not(:only-child) {
  .c-icon {
    margin-top: 0 !important;
  }
}

.c-sidebar .c-sidebar-brand {
  background-color: #182b48;
}
